.inline{display:inline-block;margin-left:10px;margin-right:20px;}
.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:1.088878px;}
._2{width:2.327503px;}
._5{width:38.128000px;}
._1{width:68.464000px;}
._3{width:87.716000px;}
._0{width:105.908000px;}
.fc4{color:rgb(89,89,89);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(204,51,0);}
.fc3{color:rgb(0,51,204);}
.fc2{color:rgb(0,128,0);}
.fs4{font-size:72.000000px;}
.fs3{font-size:74.000000px;}
.fs1{font-size:96.000000px;}
.fs6{font-size:98.000000px;}
.fs5{font-size:144.000000px;}
.fs2{font-size:176.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y10{bottom:74.296432px;}
.yf{bottom:99.416428px;}
.ye{bottom:124.536423px;}
.y1e{bottom:137.879883px;}
.yd{bottom:139.656433px;}
.yc{bottom:164.776428px;}
.y17{bottom:168.799881px;}
.y1d{bottom:173.799896px;}
.y18{bottom:194.719879px;}
.y16{bottom:204.719879px;}
.y1c{bottom:209.719894px;}
.yb{bottom:215.016418px;}
.ya{bottom:230.136414px;}
.y15{bottom:230.639877px;}
.y3{bottom:232.557364px;}
.y1b{bottom:235.639893px;}
.y9{bottom:255.256409px;}
.y14{bottom:266.559883px;}
.y1a{bottom:271.559891px;}
.y8{bottom:280.376411px;}
.y2{bottom:281.480965px;}
.y19{bottom:297.479897px;}
.y7{bottom:330.616413px;}
.y1{bottom:346.280960px;}
.y6{bottom:355.736412px;}
.y5{bottom:380.856410px;}
.y12{bottom:418.449863px;}
.y4{bottom:445.756889px;}
.y11{bottom:457.329861px;}
.y13{bottom:504.905542px;}
.h5{height:49.886719px;}
.h4{height:51.272461px;}
.h2{height:66.515625px;}
.h7{height:67.901367px;}
.h6{height:98.437500px;}
.h3{height:120.312500px;}
.h1{height:164.062500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x4{left:73.200012px;}
.x6{left:75.257233px;}
.x5{left:113.700012px;}
.x1{left:154.877960px;}
.x3{left:210.474640px;}
.x2{left:345.512711px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:1.451837pt;}
._2{width:3.103337pt;}
._5{width:50.837333pt;}
._1{width:91.285333pt;}
._3{width:116.954667pt;}
._0{width:141.210667pt;}
.fs4{font-size:96.000000pt;}
.fs3{font-size:98.666667pt;}
.fs1{font-size:128.000000pt;}
.fs6{font-size:130.666667pt;}
.fs5{font-size:192.000000pt;}
.fs2{font-size:234.666667pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y10{bottom:99.061910pt;}
.yf{bottom:132.555237pt;}
.ye{bottom:166.048564pt;}
.y1e{bottom:183.839844pt;}
.yd{bottom:186.208577pt;}
.yc{bottom:219.701904pt;}
.y17{bottom:225.066508pt;}
.y1d{bottom:231.733195pt;}
.y18{bottom:259.626506pt;}
.y16{bottom:272.959839pt;}
.y1c{bottom:279.626526pt;}
.yb{bottom:286.688558pt;}
.ya{bottom:306.848551pt;}
.y15{bottom:307.519836pt;}
.y3{bottom:310.076485pt;}
.y1b{bottom:314.186523pt;}
.y9{bottom:340.341878pt;}
.y14{bottom:355.413177pt;}
.y1a{bottom:362.079854pt;}
.y8{bottom:373.835215pt;}
.y2{bottom:375.307953pt;}
.y19{bottom:396.639862pt;}
.y7{bottom:440.821884pt;}
.y1{bottom:461.707947pt;}
.y6{bottom:474.315216pt;}
.y5{bottom:507.808547pt;}
.y12{bottom:557.933151pt;}
.y4{bottom:594.342519pt;}
.y11{bottom:609.773148pt;}
.y13{bottom:673.207390pt;}
.h5{height:66.515625pt;}
.h4{height:68.363281pt;}
.h2{height:88.687500pt;}
.h7{height:90.535156pt;}
.h6{height:131.250000pt;}
.h3{height:160.416667pt;}
.h1{height:218.750000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x4{left:97.600016pt;}
.x6{left:100.342977pt;}
.x5{left:151.600016pt;}
.x1{left:206.503947pt;}
.x3{left:280.632853pt;}
.x2{left:460.683614pt;}
}
